<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IHdfsMapper">

    <insert id="insertHdfsInfo" parameterType="HdfsDTO">
        INSERT INTO HDFS_INFO
        (FILE_SEQ,
         FILE_NAME,
         FILE_PATH,
         ORG_NAME,
         EXT)
        VALUES ((SELECT NVL(MAX(A.FILE_SEQ), 0) + 1 FROM HDFS_INFO A),
                #{fileName},
                #{filePath},
                #{orgName},
                #{ext})
    </insert>

    <select id="getHdfsInfoList" resultType="HdfsDTO">
        SELECT FILE_SEQ,
               FILE_NAME,
               FILE_PATH,
               ORG_NAME,
               EXT,
               REG_DT
        FROM HDFS_INFO
        ORDER BY REG_DT DESC
    </select>

    <select id="getHdfsInfo" resultType="HdfsDTO" parameterType="HdfsDTO">
        SELECT FILE_SEQ,
               FILE_NAME,
               FILE_PATH,
               ORG_NAME,
               EXT,
               REG_DT
        FROM HDFS_INFO
        WHERE FILE_SEQ = #{fileSeq}
    </select>

</mapper>

